<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>

    <!-- needed for adaptive design -->
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <link href="{{ google_fonts }}" rel="stylesheet">
    <style>
      body {
          margin: 0;
          padding: 0;
      }
    </style>
  </head>
  <body>
    <redoc spec-url="{{ openapi_spec_route }}">
    </redoc>
    <script src="{{ redoc_script }}"></script>
  </body>
</html>
